<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>--project-name</key>
	<string>YCML</string>
	<key>--project-version</key>
	<string>0.5.0</string>
	<key>--project-company</key>
	<string>Ioannis (Yannis) Chatzikonstantinou / yconst.com</string>
	<key>--create-html</key>
	<true/>
	<key>--create-docset</key>
	<false/>
	<key>--output</key>
	<string>./YCML</string>
</dict>
</plist>
